<md-dialog aria-label="How To" id="aboutKoltunova" class="gradient-background animate-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1 flex class="text-center">Колтунова Наталья Борисовна</h1>
        <md-button class='md-icon-button' ng-click='cancel()'>
          <md-icon md-svg-src='assets/images/close.svg'></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout-fill layout-gt-md="row" layout-xs="column" layout-sm="column" layout-md="column"
           class="article-container">

        <div flex class="article-content article-padding">
          <div flex class="mobile-title">Колтунова Наталья Борисовна</div>
          <p>Руководитель и организатор клиники, старший дерматовенеролог клиники "Борис", врач высшей категории.</p>
          <ul>
            <li>Работает в области эстетической косметологии более 25 лет.</li>
            <li>Специалист по введению ботулотоксинов, контурной пластике, плазмотерапии, нитевому лифтингу, срединным
              пилингам.
            </li>
            <li>Обладатель более 50 сертификатов и дипломов международного образца.</li>
            <li>Постоянный участник конгрессов, конференций по дерматологии и эстетической медицине.</li>
          </ul>
          <md-button ng-click="showOther()" id="readAll" class="gold-button">Читать полностью →</md-button>
          <div class="article-continue hide">
            <p>Врачом решила стать в последнем классе школы после практики в военном госпитале, в отделении
              дерматологии.
              Закончила в 1993 году РГМУ(Российский государственный медицинский университет, г.Москва).</p>
            <p>С 3-го курса посещала кружок по
              дерматовенерологии, на 5-м прошла практикум по косметологии в Институте красоты на Новом Арбате, уже тогда
              понимая, что очень скоро эти
              две дисциплины будут неразрывно связаны.</p>
            <p>В 1996 году закончила клиническую ординатуру по дерматовенерологии на кафедре последипломного образования
              в РМАПО(российская мед академия последипломного образования, г.Москва), прошла практику в детском и
              взрослом кожных отделениях,
              отделении урологии, микологии, физиотерапии и лабораторном отделении. В это время работала в кожно-венерологическом диспансере на
              поликлиническом приеме.</p>
            <p>В 1997 году переехала в Киев, с 1998 года работает в клинике Борис, где в настоящее время является
              старшим
              дерматовенерологом.
              Все эти годы совмещала работу дерматолога и врача эстетической медицины. Мезотерапией, инъекциями
              ботулотоксинов,контурной
              пластикой начала заниматься в конце 90-х, с момента появления их на европейском рынке.</p>
            <p>В 2016 году основала собственную центр
              эстетической медицины, <span class="disclaimer">NOVA BEAUTY by Dr.Коltunova</span>, где занимается оздоровлением и омоложением кожи и
              волос, использует авторские методики и
              наработки передовой научной косметологии, применяет инъекционные техники, большое внимание уделяя
              оздоровлению и укреплению организма в целом.
            </p>
            <div class="koltunova-certificates">
              <img ng-repeat="cert in certificates" src="{{cert.path}}" />
            </div>
          </div>
        </div>
        <div class="koltunova-portrait" layout-align="center center">&nbsp;
          <div class="avatar">&nbsp;</div>
        </div>
      </div>

    </md-dialog-content>
  </form>
</md-dialog>
<script type="text/javascript">

</script>
