/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i');

@import "breakpoint";

$default-color: #EEF3F8;
$accent-color: #C2986E;

$screen-extra-small: 0 599px;
$screen-small: 600px 959px;
$screen-middle: 960px 1439px;
$screen-wide: 1440px;

$screen-mobile: 0 1024px;
$screen-desktop: 960px;
//$body-font-family: 'Open Sans', sans-serif;
$body-font-family: 'PT Serif', serif;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

md-toolbar{
  background-color: transparent !important;

  h2{
    color: black;
  }
}

.gold-button{
  span{
    color: $accent-color !important;
  }
}

md-dialog{
  background-color: #f0f2f6;
}
.animate-dialog{
  -webkit-transition: all 1s ease-in-out;
  transition: all .5s ease-in-out;
}

.only-mobile{
  display: none;
  @include breakpoint($screen-mobile){
    display: block;
  }
  background-color: #f2f2f2 !important;
  .md-icon-button{

    -webkit-transition: all 1s ease-in-out;
    transition: all .5s ease-in-out;

    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }

}

.article-continue{

}



html {
  font-family: $body-font-family;
}

[layout=row] {
  flex-direction: row;
}

.gradient-background{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  md-content{
    background-color: transparent;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fifth-section{

  .left-panel{

    min-height: 50vh;
  }
}

.full-height{
  min-height: 100vh !important;
}

.left-panel{
  @include breakpoint($screen-mobile){
    display: none !important;
  }
  min-height: 100%;
  .logo-container{
    min-height: 50vh;
    background-image: url(../assets/images/koltunova.svg);
    background-repeat:no-repeat;
    background-position: center center;
    img {
      object-fit: contain;
    }
  }
  .menu-container{
    //background: $default-color;

    min-height: 50vh;
    button{
      padding-left: 15%;

      p{
        font-family: $body-font-family;
        font-size: 18px;
      }
    }
  }
}
.landing-image{
  height: 100vh;
  @include breakpoint($screen-mobile){
    height: 50vh;
  }

  background-image: url(../assets/images/back.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.social-buttons{
  padding-bottom: 15px;
}

.slogan{
  font-family: $body-font-family;
  color: white;
  padding-top: 30vh;
  padding-left: 6%;
  @include breakpoint($screen-mobile){
    padding-top: 15vh;

    .slogan-author{
      font-size: 12px;
      padding-top: 5px;
      color: rgba(255,255,255, .8);
    }
  }
  .slogan-text{
    font-size: 3rem;
    width: 50%;
    font-style: italic;

    @include breakpoint($screen-mobile){
      font-size: 1.2rem;
      width: 50%;
    }
  }
  .slogan-author{
    font-size: 32px;
    padding-top: 10px;
    color: rgba(255, 255, 255, 1);

    @include breakpoint($screen-mobile){
      font-size: 12px;
      padding-top: 5px;
      color: rgba(255,255,255, .8);
    }
  }
  .slogan-quote-start, .slogan-quote-end{
    font-size: 7.2rem;
    margin-left: 25%;
    @include breakpoint($screen-mobile){
      margin-left: 20%;
      font-size: 2.4rem;
    }
  }
}

.rectangle-45{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  md-icon{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.section-arrow{
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(25% - 25px);
  text-align: center;
  vertical-align: middle;
  padding-top: 7px;

  i{
    transform: rotate(-45deg);
    font-size: 32px;
    color: white;
  }
}

.section-circle{
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid $accent-color;
}

.section-text{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: $accent-color;
  margin-left: 15px;
}
.section-title{
  padding-top: 40px;
}

.section-message{
  font-family: "Playfair Display", Serif;
  font-size: 28px;
  color: black;
  text-align: center;
  padding: 50px 25px 0 25px;
}
.koltunova-about{
  min-height: 50vh;
}
.koltunova-tour{
  background-image: url(../assets/images/tour_bl.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  -webkit-transition: all 1s ease-in-out;
  transition: all .5s ease-in-out;
  font-family: "Playfair Display", sans-serif;
  color: white;
  text-align: center;

  @include breakpoint($screen-mobile){
    min-height: 25vh;
  }

  .tour-message{
    font-size: 48px;
    align-self: center;
    padding-top: 11vh;
    @include breakpoint($screen-mobile){
      font-size: 24px;
    }
  }
  .tour-description{
    padding-top: 28px;
    font-size: 24px;
    align-self: center;
    @include breakpoint($screen-mobile){
      font-size: 12px;
      padding-top: 14px;
    }
  }
}
.koltunova-tour:hover{
  background-image: url(../assets/images/tour.jpg);
  color: black;
  cursor: pointer;
}

.koltunova-about {

  font-family: "Playfair Display", sans-serif;

  .article-item{
    order: 1;
  }
  .koltunova-photo{
    order: 2;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/images/koltunova.png);
  }

  @include breakpoint($screen-mobile){
    //min-height: 180vh;

    .article-item{
      order: 2;
    }
    .koltunova-photo{
      order: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      max-width: 100%;
      background-image: none;
      height: 40vw;
      max-height: 40vw;
    }
    padding: 0;
  }

  .article-title {
    font-size: 24px;
    color: $accent-color;
  }

}
.hide{
  display: none;
}
.text-center{
  text-align: center;
  color: $accent-color;
  font-family: "Playfair Display", sans-serif;
  font-size: 24px;
}

.article-content{
  font-family: $body-font-family;
  font-size: 18px;
  color: #1F1F26;
  line-height: 1.8;
  a{
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 1px dashed black;
    &:hover{
      color: $accent-color;
      border-bottom: 1px dashed $accent-color;
      cursor: pointer;
    }
  }

  &.article-padding{
    padding: 0px 2vw;
    font-size: 18px;
  }

  @include breakpoint($screen-mobile){
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    font-size: 16px;
    line-height: 24px;

  }
}
.avatar{
  height: 40vw;
  width: 40vw;
  display: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/images/avatar.png);
  @include breakpoint($screen-mobile){
    margin-left: 30vw;
    display: block;
  }
}

.article-container{
  .avatar{
    margin-top: -20px;
  }
  .mobile-title{
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 45px 0 10px 0;
    display: none;
    color: $accent-color;
    @include breakpoint($screen-mobile){
      display: block;
    }
  }

  .article-content{
    order: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
  }
  .koltunova-portrait{
    order: 2;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    max-height: 100%;
  }
  @include breakpoint($screen-mobile){
    .article-content{
      order: 2;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      max-width: 100%;
    }
    .koltunova-portrait{
      order: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      max-width: 100%;
      max-height: 100%;
    }
  }

}

  .services-icon{
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  margin-left: -25px;
  margin-top: -25px;
  md-icon{
    width: 36px;
    height: 36px;
    #Artboard{
      fill: #fff;
    }
  }
}

.section-icon{
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  align-self: center;
  margin-top: -25px;
  md-icon{
    width: 36px;
    height: 36px;
    #Artboard{
      fill: #fff;
    }
  }
}
.service-section-title{
  padding-top: 35px;
  .section-circle{
    margin-top: 10px;
    margin-left: 35px;
    @include breakpoint($screen-mobile){
      margin-left: 5%;
    }
  }
}
.services-list{
  h3{
    text-transform: uppercase;
  }
  .md-list-item-text{
    padding-top: 25px;
  }
  @include breakpoint($screen-mobile){
    .bullet{
      display: none;
    }
    .md-list-item-text{
      padding-left: 5%;
    }
    h3{
      font-size: 15px !important;
    }
    .section-circle{
      margin-left: 5% !important;
    }
    .md-button{
      padding:0;
    }
  }
}
.bullet{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin-left: 45px;
  margin-right: 15px;
  margin-top: 35px;
}

.services-list{
  md-list-item.md-no-proxy{
    @include breakpoint($screen-mobile){
      padding: 0 !important;
    }

  }
  .md-list-item-text{
    h3{
      font-family: "Playfair Display", sans-serif;
      font-size: 18px !important;
      @include breakpoint($screen-mobile){
        font-size: 15px !important;
        width: 80vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 15px;
      }
    }
    p{
      font-family: $body-font-family;
      font-size: 12px !important;;
      font-weight: 200 !important;;
    }
  }
}
.service-alarm-title{
}

.section-row{
  .section{
    min-height: 650px;
      @include breakpoint($screen-mobile) {
        min-height: 0;
      }
    }
}

.no-background{
  background-color: white;
}

.image-1{
  background-image: url(../assets/images/a1.jpg);
}

.section-image{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  @include breakpoint($screen-mobile){
    display: none !important;
  }

}

.image-2{
  background-image: url(../assets/images/a2.jpg);
}

.image-3{
  background-image: url(../assets/images/a3.jpg);
}

.image-4{
  background-image: url(../assets/images/a4.jpg);
}

.service-alarm-container{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  @include breakpoint($screen-mobile){
    min-height: 25vh;
  }

  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  &:hover{
    cursor: pointer;
    .service-alarm-title{
      background-color: rgba(255, 255, 255, .5);

      &.white{
        color: white;
        background-color: rgba(0, 0, 0, .5);
      }
    }
  }
}

.service-image-1{
  background-image: url(../assets/images/s_1b.jpg);
  &:hover{
    background-image: url(../assets/images/s_1.jpg);
    cursor: pointer;
  }
}
.service-image-2{
  background-image: url(../assets/images/s_2b.jpg);
  &:hover{
    background-image: url(../assets/images/s_2.jpg);
    cursor: pointer;
  }
}
.service-image-3{
  background-image: url(../assets/images/s_3b.jpg);
  &:hover{
    background-image: url(../assets/images/s_3.jpg);
    cursor: pointer;
  }
}
.service-image-4{
  background-image: url(../assets/images/s_4b.jpg);
  &:hover{
    background-image: url(../assets/images/s_4.jpg);
    cursor: pointer;
  }
}
.service-image-5{
  background-image: url(../assets/images/s_5b.jpg);
  &:hover{
    background-image: url(../assets/images/s_5.jpg);
    cursor: pointer;
  }
}
.service-image-6{
  background-image: url(../assets/images/s_6b.jpg);
  &:hover{
    background-image: url(../assets/images/s_6.jpg);
    cursor: pointer;
  }
}

.service-alarm-price{
  font-family: $body-font-family;
  font-size: 18px;
  color: $accent-color;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  padding-top: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);

  @include breakpoint($screen-mobile){
    font-size: 18px;
    padding-bottom: 5px;
    font-size: 14px;
  }
}

.service-alarm-title{
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 15% 25px 0 25px;
  text-align: center;
  @include breakpoint($screen-mobile){
    font-size: 18px;
    padding: 15% 10% 0 10%;
  }
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.contact-container{
  background-color: white;
  .logo{
    background-image: url(../assets/images/koltunova.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20vh;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    -moz-background-size: 75% auto;
    background-size: 75% auto;
  }
}

.contacts{
  padding-top: 50px;
  align-self: center;
  font-family: $body-font-family;
  font-size: 24px;
  opacity: .6;
  span{
    padding-left: 25px;
  }

  &>div{
    padding-bottom: 10px;
  }
}

.regards{
  text-align: center;
  padding-top: 70px;
}

.map{
  background-image: url(../assets/images/map_b.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  &:hover{
    background-image: url(../assets/images/map.jpg);
    cursor: pointer;
    }
}
.address-text{
  font-size: 14px;
  font-family: "Playfair Display", sans-serif;
  padding-top: 25px;
}
.working-hours{
  .title{
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
  }
  .working-hours-when{
    font-family: $body-font-family;
    font-size: 14px;
    line-height: 19px;
    p{
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }
  }
}

.md-toolbar-tools{
  span{
    text-align: center;
    img{
      height: 50px;
    }
  }
}

.how-to-get-container {
  .md-whiteframe-3dp{
    @include breakpoint($screen-mobile){
      width: 100%;
    }
  }
  .md-toolbar-tools {
    span {
      color: rgba(0,0,0,.82);
    }
    md-chips-wrap{
      box-shadow: 0 0px rgb(224, 224, 224);
    }
  }
}

.mobile-logo-container{
  min-height: 30vh;
  background-color: white;
  background-image: url(../assets/images/koltunova.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
}

@mixin price-section-image($imageIndex: null)
{
  $className: 'price-section-image-#{$imageIndex}';

  .#{$className}{
    background-image: url(../assets/images/svc_b_#{$imageIndex}.jpg);
  }
}

@mixin build-price-section-image(){
  @for $i from 0 through 50 {
    @include price-section-image($i);
  }
}

@include  build-price-section-image();

div.license{
  font-family: $body-font-family;
  font-size: 14px;
  text-align: center;
  font-weight: 200;
  padding-top: 15px;
}

div.partners{
  font-family: $body-font-family;
  font-size: 18px;
  font-weight: 200;
  opacity: .6;
}


.service-section{

  min-height: 70vh;
  min-width: 80vw;
  padding: 3% 2%;

  color: rgba(0,0,0, .82);
  .service-section-container{
    padding: 0 1vw;
    background-color: rgba(255,255,255, .9);
  }

  md-grid-tile{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .price-section-title{
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    height: 100px;
    border-bottom: 1px solid rgba(0,0,0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
  }
  .price-section-prices{
    padding-top: 25px;
    .price-section-item{
      padding-bottom: 15px;
      font-family: $body-font-family;
      font-size: 16px;
      font-weight: 200;
      .main-price{
        font-weight: 500;
        text-align: right;
        .item_sale{
          font-size: 18px;
          color: #f44336;
        }
      }
      .secondary-price{
        font-size: 16px;
        color: rgba(0,0,0, .5);
        text-align: right;
      }
    }
  }
}

.price-header{
  font-family: "Playfair Display", Serif;
  text-transform: uppercase;
  color: $accent-color;
  font-size: 32px;
}

.show-all-price{
  h3 {
    color: $accent-color !important;
    font-family: $body-font-family !important;
    md-icon{
      height: 18px;
      width: 18px;
      //margin-left: 10px;
    }
    svg {
      fill: $accent-color;
    }
  }
}


.koltunova-portrait{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/images/koltunova_portrait.png);
  @include breakpoint($screen-mobile){
    background-image: none;
  }
}

.article-item{
  padding: 32px 36px;
}

.map-direction-image{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
}
.direction-f_l {
  background-image: url(../assets/images/f_l.jpg);
}
.direction-f_d {
  background-image: url(../assets/images/f_d.jpg);
}

.direction-c_l {
  background-image: url(../assets/images/c_l.jpg);
}

.direction-c_d {
  background-image: url(../assets/images/c_d.jpg);
}

.how-to-get-container{
  min-width: 80vw;
}

.direction-link{
  padding-top: 3vh;
  font-family: "Playfair Display", sans-serif;
  color: $accent-color;
  span{
    font-size: 18px;
    color: $accent-color;
  }

  md-icon{
    height: 18px;
    width: 18px;
    margin-top: -7px;
    //margin-left: 10px;
  }
  svg {
    fill: $accent-color;
  }
}
#aboutKoltunova{
  max-width: 60vw;
  @include breakpoint($screen-mobile){
    .text-center{
      visibility: hidden;
    }
  }
}
.increase-width{
  max-width: 90vw !important
}
.disclaimer{
  font-weight: 500;
  color: $accent-color;
}

body:after{
  display:none;
  background-image: url(../assets/images/s_1.jpg);
  content: url(../assets/images/tour.jpg)  url(../assets/images/s_1.jpg)  url(../assets/images/s_2.jpg)  url(../assets/images/s_3.jpg)  url(../assets/images/s_4.jpg)  url(../assets/images/s_5.jpg)  url(../assets/images/s_6.jpg) url(../assets/images/map.jpg);
}

.undersontraction{
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FF5722;
  color: #FAFAFA;
  z-index: 1000;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
