/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import "breakpoint";

$default-color: #EEF3F8;
$accent-color: #C2986E;

$screen-extra-small: 0 599px;
$screen-small: 600px 959px;
$screen-middle: 960px 1439px;
$screen-wide: 1440px;

$screen-mobile: 0 1024px;
$screen-desktop: 960px;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.only-mobile{
  background-color: #f2f2f2 !important;
  .md-icon-button{

    -webkit-transition: all 1s ease-in-out;
    transition: all .5s ease-in-out;

    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }

}



html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.gradient-background{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  md-content{
    background-color: transparent;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fifth-section{
  max-height: 527px;
  .left-panel{
    max-height: 527px;
    min-height: 527px;
  }
}

.left-panel{
  @include breakpoint($screen-mobile){
    display: none !important;
  }
  min-height: 100vh;
  .logo-container{
    min-height: 50vh;
    background-image: url(../assets/images/koltunova.svg);
    background-repeat:no-repeat;
    background-position: center center;
    img {
      object-fit: contain;
    }
  }
  .menu-container{
    //background: $default-color;

    min-height: 50vh;
    button{
      padding-left: 15%;

      p{
        font-family: "Roboto Condensed", Serif;
        font-size: 18px;
      }
    }
  }
}
.landing-image{
  height: 100vh;
  @include breakpoint($screen-mobile){
    height: 50vh;
  }

  background-image: url(../assets/images/back.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.slogan{
  font-family: 'Playfair Display', serif;
  color: white;
  padding-top: 30vh;
  @include breakpoint($screen-mobile){
    padding-top: 0;
  }
  .slogan-text{
    font-size: 3.6rem;

    width: 60%;

    margin-left: 6%;

    @include breakpoint($screen-mobile){
      font-size: 1.4rem;
      width: 50%;
    }
  }
  .slogan-quote-start, .slogan-quote-end{
    font-size: 7.2rem;
    margin-left: 25%;
    @include breakpoint($screen-mobile){
      margin-left: 20%;
      font-size: 2.4rem;
    }
  }
}

.rectangle-45{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  md-icon{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.section-arrow{
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(25% - 25px);
  text-align: center;
  vertical-align: middle;
  padding-top: 7px;

  i{
    transform: rotate(-45deg);
    font-size: 32px;
    color: white;
  }
}

.section-circle{
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid $accent-color;
}

.section-text{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: $accent-color;
  margin-left: 15px;
}
.section-title{
  padding-top: 40px;
}

.section-message{
  font-family: "Playfair Display", Serif;
  font-size: 28px;
  color: black;
  text-align: center;
  padding: 50px 25px 0 25px;
}
.koltunova-about{
  min-height: 50vh;
}
.koltunova-tour{
  background-image: url(../assets/images/tour_bl.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  -webkit-transition: all 1s ease-in-out;
  transition: all .5s ease-in-out;
  font-family: "Playfair Display", sans-serif;
  color: white;
  text-align: center;

  @include breakpoint($screen-mobile){
    min-height: 25vh;
  }

  .tour-message{
    font-size: 48px;
    align-self: center;
    padding-top: 11vh;
    @include breakpoint($screen-mobile){
      font-size: 24px;
    }
  }
  .tour-description{
    padding-top: 28px;
    font-size: 24px;
    align-self: center;
    @include breakpoint($screen-mobile){
      font-size: 12px;
      padding-top: 14px;
    }
  }
}
.koltunova-tour:hover{
  background-image: url(../assets/images/tour.jpg);
  color: black;
  cursor: pointer;
}

.koltunova-about {

  font-family: "Playfair Display", sans-serif;

  padding: 32px 36px;
  @include breakpoint($screen-mobile){
    padding: 3%;
    .article-content {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
  }

  .article-title {
    font-size: 24px;
    color: $accent-color;
  }
  .article-content{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: black;

    @include breakpoint($screen-mobile){
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
      font-size: 16px;
      line-height: 24px;

    }
  }
}

.services-icon{
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  margin-left: -25px;
  margin-top: -25px;
  md-icon{
    width: 36px;
    height: 36px;
    #Artboard{
      fill: #fff;
    }
  }
}

.section-icon{
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  align-self: center;
  margin-top: -25px;
  md-icon{
    width: 36px;
    height: 36px;
    #Artboard{
      fill: #fff;
    }
  }
}
.service-section-title{
  padding-top: 35px;
  .section-circle{
    margin-top: 10px;
    margin-left: 35px;
  }
}
.bullet{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin-left: 45px;
  margin-right: 15px;
}

.services-list{
  .md-list-item-text{
    h3{
      font-family: "Playfair Display", sans-serif;
      font-size: 18px !important;
    }
    p{
      font-family: Roboto, sans-serif;
      font-size: 12px !important;;
      font-weight: 200 !important;;
    }
  }
}
.service-alarm-title{
}

.section-row{
  .section{
    min-height: 650px;
      @include breakpoint($screen-mobile) {
        min-height: 0;
      }
    }
}

.no-background{
  background-color: white;
}

.image-1{
  background-image: url(../assets/images/a1.jpg);
}

.section-image{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  @include breakpoint($screen-mobile){
    display: none !important;
  }

}

.image-2{
  background-image: url(../assets/images/a2.jpg);
}

.image-3{
  background-image: url(../assets/images/a3.jpg);
}

.image-4{
  background-image: url(../assets/images/a4.jpg);
}

.service-alarm-container{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  @include breakpoint($screen-mobile){
    min-height: 25vh;
  }

  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  &:hover{
    cursor: pointer;
    .service-alarm-title{
      color: white;
    }
  }
}

.service-image-1{
  background-image: url(../assets/images/s_1b.jpg);
  &:hover{
    background-image: url(../assets/images/s_1.jpg);
    cursor: pointer;
  }
}
.service-image-2{
  background-image: url(../assets/images/s_2b.jpg);
  &:hover{
    background-image: url(../assets/images/s_2.jpg);
    cursor: pointer;
  }
}
.service-image-3{
  background-image: url(../assets/images/s_3b.jpg);
  &:hover{
    background-image: url(../assets/images/s_3.jpg);
    cursor: pointer;
  }
}
.service-image-4{
  background-image: url(../assets/images/s_4b.jpg);
  &:hover{
    background-image: url(../assets/images/s_4.jpg);
    cursor: pointer;
  }
}
.service-image-5{
  background-image: url(../assets/images/s_5b.jpg);
  &:hover{
    background-image: url(../assets/images/s_5.jpg);
    cursor: pointer;
  }
}
.service-image-6{
  background-image: url(../assets/images/s_6b.jpg);
  &:hover{
    background-image: url(../assets/images/s_6.jpg);
    cursor: pointer;
  }
}

.service-alarm-price{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: $accent-color;
  padding-bottom: 20px;

  @include breakpoint($screen-mobile){
    font-size: 18px;
    padding-bottom: 5px;
    font-size: 14px;
  }
}

.service-alarm-title{
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding: 15% 25px 0 25px;
  text-align: center;
  @include breakpoint($screen-mobile){
    font-size: 18px;
    padding: 15% 10% 0 10%;
  }
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.contact-container{
  .logo{
    background-image: url(../assets/images/koltunova.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 20vh;
  }
}

.contacts{
  padding-top: 50px;
  align-self: center;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  opacity: .6;
  span{
    padding-left: 25px;
  }

  &>div{
    padding-bottom: 10px;
  }
}

.regards{
  text-align: center;
  padding-top: 70px;
}

.map{
  background-image: url(../assets/images/map_b.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  &:hover{
    background-image: url(../assets/images/map.jpg);
    cursor: pointer;
    }
}
.address-text{
  font-size: 14px;
  font-family: "Playfair Display", sans-serif;
  padding-top: 25px;
}
.working-hours{
  .title{
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
  }
  .working-hours-when{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 19px;
    p{
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }
  }
}

.md-toolbar-tools{
  span{
    text-align: center;
    img{
      height: 50px;
    }
  }
}

.mobile-logo-container{
  min-height: 30vh;
  background-color: white;
  background-image: url(../assets/images/koltunova.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
